@keyframes placeHolderShimmer {
  0% {
    background-position: -480px 0; }
  100% {
    background-position: 480px 0; } }
.d-flex {
  display: flex; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px; }
  .row > * {
    width: 100%; }
  .row.m-0 {
    margin: 0; }

[class*='col-'] {
  padding: 0 7px; }
  [class*='col-'].p-0 {
    padding: 0; }

.col-2 {
  flex: 0 0 auto;
  max-width: 16.67%; }

.col-3 {
  flex: 0 0 auto;
  max-width: 25%; }

.col-4 {
  flex: 0 0 auto;
  max-width: 33.33%; }

.col-5 {
  flex: 0 0 auto;
  max-width: 41.6%; }

.col-6 {
  flex: 0 0 auto;
  max-width: 50%; }

.col-7 {
  flex: 0 0 auto;
  max-width: 58.33%; }

.col-8 {
  flex: 0 0 auto;
  max-width: 66.66%; }

@media (min-width: 1024px) {
  .col-md-2 {
    flex: 0 0 auto;
    max-width: 16.67%; } }

@media (min-width: 1024px) {
  .col-md-3 {
    flex: 0 0 auto;
    max-width: 25%; } }

@media (min-width: 1024px) {
  .col-md-4 {
    flex: 0 0 auto;
    max-width: 33.33%; } }

@media (min-width: 1024px) {
  .col-md-5 {
    flex: 0 0 auto;
    max-width: 41.6%; } }

@media (min-width: 1024px) {
  .col-md-6 {
    flex: 0 0 auto;
    max-width: 50%; } }

@media (min-width: 1024px) {
  .col-md-7 {
    flex: 0 0 auto;
    max-width: 58.33%; } }

@media (min-width: 1024px) {
  .col-md-8 {
    flex: 0 0 auto;
    max-width: 66.66%; } }

.grid {
  display: grid; }

.gap-8 {
  grid-gap: 8px; }

.gap-12 {
  grid-gap: 12px; }

.gap-14 {
  grid-gap: 14px; }

.gap-28 {
  grid-gap: 28px; }

.gap-40 {
  grid-gap: 40px; }

.grid-2 {
  grid-template: auto/repeat(2, 1fr); }

.grid-3 {
  grid-template: auto/repeat(3, 1fr); }

@media (min-width: 1024px) {
  .grid-md-2 {
    grid-template: auto/repeat(2, 1fr); } }

@media (min-width: 1024px) {
  .grid-md-3 {
    grid-template: auto/repeat(3, 1fr); } }

@media (min-width: 1024px) {
  .grid-md-4 {
    grid-template: auto/repeat(4, 1fr); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }
  *::-webkit-scrollbar {
    display: none; }

html,
body {
  font-size: 14px;
  color: #333;
  background: #f4f4f4; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#app {
  max-width: 540px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: #fff; }

a,
button {
  cursor: pointer; }

a,
button,
input,
textarea,
select {
  outline: 0; }
  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: 0; }
  a:visited,
  button:visited,
  input:visited,
  textarea:visited,
  select:visited {
    outline: 0;
    text-decoration: none;
    color: inherit; }
  a:-webkit-any-link,
  button:-webkit-any-link,
  input:-webkit-any-link,
  textarea:-webkit-any-link,
  select:-webkit-any-link {
    outline: 0;
    text-decoration: none;
    color: inherit; }

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  color: #333; }

select,
.select {
  background: #fff url("../images/caret_down.svg") no-repeat right center !important; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

hr {
  margin: 10px 0;
  background: #d9d9d9;
  height: 1px;
  border: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: 600; }

.overflow-hidden {
  overflow: hidden; }

.overflow-auto {
  overflow: auto; }

.position-relative {
  position: relative; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.text-warning {
  color: #ffa900 !important; }

.text-primary {
  color: #1266f1 !important; }

.text-success {
  color: #00b74a !important; }

.text-danger {
  color: #f93154 !important; }

.text-secondary {
  color: #999 !important; }

.ml-6 {
  margin-left: 6px; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mt-auto {
  margin-top: auto; }

.mb-auto {
  margin-bottom: auto; }

.mr-6 {
  margin-right: 6px; }

.mr-8 {
  margin-right: 8px; }

.mr-12 {
  margin-right: 12px; }

.mr-14 {
  margin-right: 14px; }

.mr-18 {
  margin-right: 18px; }

.mr-24 {
  margin-right: 24px; }

.mb-4 {
  margin-bottom: 4px; }

.mb-6 {
  margin-bottom: 6px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-12 {
  margin-bottom: 12px; }

.mb-14 {
  margin-bottom: 14px; }

.mb-18 {
  margin-bottom: 18px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-28 {
  margin-bottom: 28px; }

.mb-40 {
  margin-bottom: 24px; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.btn,
.input,
.select {
  padding: 8px 12px;
  height: 40px; }

.input,
.select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff; }
  .input:disabled,
  .select:disabled {
    background: #e1e1e1; }
  .input.error,
  .select.error {
    border-color: #f93154; }

.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  border: 0;
  font-weight: 500;
  background: transparent;
  text-decoration: none;
  display: inline-block; }
  .btn.btn-light {
    background: #e1e1e1; }

.switch {
  position: relative;
  width: 52px;
  height: 28px;
  display: inline-block; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch input:checked + .slider {
      background: #00b74a; }
    .switch input:checked + .slider::before {
      transform: translateX(18px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #d9d9d9;
    transition: .2s;
    border-radius: 50px; }
    .switch .slider::before {
      position: absolute;
      z-index: 1;
      content: '';
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background: #fff;
      transition: .2s;
      border-radius: 50%; }

.lang-switcher {
  position: relative;
  width: 52px;
  height: 28px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  cursor: pointer; }
  .lang-switcher .lang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .lang-switcher .slider {
    position: absolute;
    z-index: 1;
    content: '';
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    transition: .2s;
    border-radius: 50%;
    background: #fff no-repeat center;
    background-size: cover;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2); }
  .lang-switcher.trigger .slider {
    transform: translateX(24px); }

.toast {
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  z-index: 11111;
  background: #e1e1e1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  max-width: calc(100% - 32px);
  display: flex;
  align-items: center; }
  .toast.success {
    background: #d4edda;
    color: #155724; }
  .toast.danger {
    background: #f8d7da;
    color: #721c24; }
  .toast.warning {
    background: #fff3cd;
    color: #856404; }
  @media (min-width: 667px) {
    .toast {
      width: auto; } }
  .toast svg {
    margin-right: 4px; }

.round-icon {
  background: #fff;
  border: 1px solid #e1e1e1;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative; }
  .round-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11; }
  .overlay.dark {
    background: #333; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 111; }
  .modal .modal-dialog {
    width: 100%;
    max-height: calc(100% - 32px);
    max-width: calc(100% - 32px);
    margin: 28px auto;
    position: relative;
    z-index: 111; }
    @media (min-width: 540px) {
      .modal .modal-dialog {
        max-width: 400px; } }
  .modal .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); }
  .modal .modal-header,
  .modal .modal-body,
  .modal .modal-footer {
    padding: 16px; }
  .modal .modal-header {
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    color: #999; }
    .modal .modal-header .modal-title {
      font-size: 16px;
      font-weight: 600;
      color: #333;
      margin-bottom: 4px; }
  .modal .modal-body {
    overflow-y: auto;
    padding: 16px; }
  .modal.image-preview .modal-dialog {
    margin: 0;
    max-width: unset;
    max-height: unset;
    height: 100%; }
  .modal.image-preview .modal-content {
    background: transparent;
    box-shadow: unset; }
  .modal.image-preview .gallery-list {
    border-top: 1px solid #555;
    padding: 28px 0 18px; }
    .modal.image-preview .gallery-list .item {
      max-width: 60px;
      flex: 0 0 60px;
      margin-right: 6px;
      opacity: .25; }
      .modal.image-preview .gallery-list .item.active {
        opacity: 1; }
      .modal.image-preview .gallery-list .item figure {
        border-radius: 6px; }

.gallery-list {
  overflow: auto; }
  .gallery-list .track {
    white-space: nowrap;
    display: flex;
    align-items: center; }
    .gallery-list .track .item {
      max-width: 120px;
      flex: 0 0 120px;
      margin-right: 12px;
      cursor: pointer; }
      .gallery-list .track .item:last-child {
        margin-right: 0; }
      .gallery-list .track .item figure {
        padding-top: 100%;
        border-radius: 8px;
        background: #f4f4f4 no-repeat center;
        background-size: cover; }

.pop-up-img {
  position: relative;
  padding-top: calc(4 / 5 * 100%);
  border-radius: 8px;
  background: #E1E1E1 no-repeat center;
  background-size: cover; }
  .pop-up-img figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    padding: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 8px; }
    .pop-up-img figcaption h3 {
      color: #fff;
      margin-top: auto;
      font-size: 22px; }

.page {
  padding: 16px; }

.home-page {
  min-height: 100vh;
  background: url(../images/home_bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .home-page header {
    display: flex;
    align-items: center;
    padding: 16px; }
    .home-page header .lang-switcher {
      background: rgba(255, 255, 255, 0.4);
      border: 0; }
  .home-page header,
  .home-page .page {
    width: 100%; }
  .home-page .page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 60%);
    padding: 120px 16px; }
  .home-page h1 {
    font-size: 28px;
    margin-bottom: 18px;
    font-weight: bolder;
    color: #fff; }
  .home-page p {
    font-size: 16px;
    margin-bottom: 18px;
    color: #d9d9d9; }

.category-page header h1 {
  font-size: 32px;
  padding: 80px 0 40px; }
.category-page .search-form {
  padding: 16px;
  background: #fff;
  position: sticky;
  margin-bottom: 8px;
  left: 0;
  top: 0;
  z-index: 1; }
  .category-page .search-form .search-box {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 14px;
    padding-left: 16px; }
    .category-page .search-form .search-box .input {
      height: auto;
      padding: 16px;
      border: 0;
      background: transparent; }
      .category-page .search-form .search-box .input::placeholder {
        font-size: 16px; }
.category-page .list a {
  display: block; }
.category-page .list li:not(:last-child) {
  margin-bottom: 3px; }
.category-page .list figure {
  position: relative;
  padding-top: calc(9 / 16 * 100%);
  background: #f4f4f4 no-repeat center;
  background-size: cover; }
.category-page .list figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  flex-direction: column; }
  .category-page .list figcaption h3 {
    font-size: 28px;
    color: #fff; }

.detail-page header figure {
  position: relative;
  padding-top: 100%;
  background: #f4f4f4 no-repeat center;
  background-size: cover; }
.detail-page header figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 16px;
  display: flex;
  flex-direction: column; }
  .detail-page header figcaption .name {
    padding: 14px;
    border-radius: 8px;
    background: #fff; }
    .detail-page header figcaption .name h3 {
      font-size: 16px; }
    .detail-page header figcaption .name span {
      color: #999; }
.detail-page .info {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 8px; }
  .detail-page .info .round-icon {
    background: #ACD7FF; }
  .detail-page .info small {
    color: #999; }

/*# sourceMappingURL=main.css.map */
